*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    max-width: 400px;
}
.wrapper{
    padding: 5%;
    background-color: lightblue;
}

.modal{
    display: none;
}